footer {
  background-color: #f8f9fa;
  .footer {
    max-width: $content-width;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
  }
}
