header {
  background: $primary-color;  
  .header {
    max-width: $content-width;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    .flex-item {
      color: $secondary-color;
      font-size: 22px;
      a {
        color: $secondary-color;
      }
    }
    button {
      background-color: #ffffff00;
      &:hover {
        background-color: #ffffff00;
        border: 1px solid #fff;
      }
      span {
        color: #fff;        
      }
      i {
        svg {
          fill: #fff;
        }
      }
    }
  }
}
