
.main-section {
  max-width: $content-width;
  margin: 0 auto;
  .select-gif {
    margin: 20px 0;
    input {
      width: 40%;
    }
  }
  .side-section {
    h3 {
      padding: 15px;
      background: $primary-color;
      color: $secondary-color;
    }
    min-height: 500px;
    background: #fff;
    ul {
      padding: 0;
      li {
        list-style-type: none;
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          background-color: $primary-color;
        }
      }
      li.selected {
        background-color: $primary-color;
      }
    }
  }
}

