.post-block {
  .ant-card {
    margin-bottom: 10px;
  }
  .ant-card-body {    
    padding: 0;    
    height: 330px;
    .ant-card-cover {
      padding: 10px;
      img {
        width: auto;
        max-width: 100%;  
        max-height: 250px;   
      }
      .author-info {
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        align-items: center;
        img {
          height: 100px;
          border-radius: 50%;
        }
        h1 {
          font-size: 25px;
        }
      }
      &:first-child {
        text-align: center;
      }      
    }
    .card-meta {
      padding: 0px 12px 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 62px;
      .title {
        color: #000;
        font-size: 18px;
      }
      .description-wrapper {
        .description {
          color: #000;
          font-size: 18px;
        }
      }
    }
    .user-actions {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      button {
        border: none;
        width: 160px;
        &:hover {
          background-color: #ededed;          
        }
      }
    }
  }
}