@import './variables';
@import '../../app/components/header/header';
@import '../../app/components/home/home';
@import '../../app/components/home/postContainer';
@import '../../app/components/footer/footer';


  body, * {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  #root {
    overflow-x: hidden;
    background-color: #ededed;
  }

